:root {
    /* COLORS */
    --color-text: #fff ; 
    --color-primary: #6c81b4; 
    --color-secondary: #415b9a;
    --color-dark: #093680; 
    --color-background: #020c1b;

    /* FONTS */
    --font-robot: "Roboto";

}